/* SIdeBar Particle SEction */

.particle {
	position: absolute;
	border-radius: 50%;
}

@-webkit-keyframes particle-animation-1 {
	100% {
		-webkit-transform: translate3d(15vw, 54vh, 77px);
		transform: translate3d(15vw, 54vh, 77px);
	}
}

@keyframes particle-animation-1 {
	100% {
		-webkit-transform: translate3d(15vw, 54vh, 77px);
		transform: translate3d(15vw, 54vh, 77px);
	}
}
.particle:nth-child(1) {
	-webkit-animation: particle-animation-1 60s infinite;
	animation: particle-animation-1 60s infinite;
	opacity: 0.01;
	height: 20px;
	width: 20px;
	-webkit-animation-delay: -0.2s;
	animation-delay: -0.2s;
	-webkit-transform: translate3d(67vw, 37vh, 33px);
	transform: translate3d(67vw, 37vh, 33px);
	background: #a6d926;
}

@-webkit-keyframes particle-animation-2 {
	100% {
		-webkit-transform: translate3d(90vw, 57vh, 24px);
		transform: translate3d(90vw, 57vh, 24px);
	}
}

@keyframes particle-animation-2 {
	100% {
		-webkit-transform: translate3d(90vw, 57vh, 24px);
		transform: translate3d(90vw, 57vh, 24px);
	}
}
.particle:nth-child(2) {
	-webkit-animation: particle-animation-2 60s infinite;
	animation: particle-animation-2 60s infinite;
	opacity: 0.015;
	height: 25px;
	width: 25px;
	-webkit-animation-delay: -0.4s;
	animation-delay: -0.4s;
	-webkit-transform: translate3d(64vw, 66vh, 15px);
	transform: translate3d(64vw, 66vh, 15px);
	background: #5fd926;
}

@-webkit-keyframes particle-animation-3 {
	100% {
		-webkit-transform: translate3d(63vw, 55vh, 37px);
		transform: translate3d(63vw, 55vh, 37px);
	}
}

@keyframes particle-animation-3 {
	100% {
		-webkit-transform: translate3d(63vw, 55vh, 37px);
		transform: translate3d(63vw, 55vh, 37px);
	}
}
.particle:nth-child(3) {
	-webkit-animation: particle-animation-3 60s infinite;
	animation: particle-animation-3 60s infinite;
	opacity: 0.02;
	height: 30px;
	width: 30px;
	-webkit-animation-delay: -0.6s;
	animation-delay: -0.6s;
	-webkit-transform: translate3d(37vw, 47vh, 34px);
	transform: translate3d(37vw, 47vh, 34px);
	background: #68d926;
}

@-webkit-keyframes particle-animation-4 {
	100% {
		-webkit-transform: translate3d(20vw, 19vh, 47px);
		transform: translate3d(20vw, 19vh, 47px);
	}
}

@keyframes particle-animation-4 {
	100% {
		-webkit-transform: translate3d(20vw, 19vh, 47px);
		transform: translate3d(20vw, 19vh, 47px);
	}
}
.particle:nth-child(4) {
	-webkit-animation: particle-animation-4 60s infinite;
	animation: particle-animation-4 60s infinite;
	opacity: 0.025;
	height: 35px;
	width: 35px;
	-webkit-animation-delay: -0.8s;
	animation-delay: -0.8s;
	-webkit-transform: translate3d(32vw, 33vh, 67px);
	transform: translate3d(32vw, 33vh, 67px);
	background: #d9a626;
}

@-webkit-keyframes particle-animation-5 {
	100% {
		-webkit-transform: translate3d(51vw, 25vh, 53px);
		transform: translate3d(51vw, 25vh, 53px);
	}
}

@keyframes particle-animation-5 {
	100% {
		-webkit-transform: translate3d(51vw, 25vh, 53px);
		transform: translate3d(51vw, 25vh, 53px);
	}
}
.particle:nth-child(5) {
	-webkit-animation: particle-animation-5 60s infinite;
	animation: particle-animation-5 60s infinite;
	opacity: 0.03;
	height: 40px;
	width: 40px;
	-webkit-animation-delay: -1s;
	animation-delay: -1s;
	-webkit-transform: translate3d(45vw, 39vh, 92px);
	transform: translate3d(45vw, 39vh, 92px);
	background: #44d926;
}

@-webkit-keyframes particle-animation-6 {
	100% {
		-webkit-transform: translate3d(36vw, 63vh, 50px);
		transform: translate3d(36vw, 63vh, 50px);
	}
}

@keyframes particle-animation-6 {
	100% {
		-webkit-transform: translate3d(36vw, 63vh, 50px);
		transform: translate3d(36vw, 63vh, 50px);
	}
}
.particle:nth-child(6) {
	-webkit-animation: particle-animation-6 60s infinite;
	animation: particle-animation-6 60s infinite;
	opacity: 0.035;
	height: 45px;
	width: 45px;
	-webkit-animation-delay: -1.2s;
	animation-delay: -1.2s;
	-webkit-transform: translate3d(89vw, 5vh, 37px);
	transform: translate3d(89vw, 5vh, 37px);
	background: #d9b526;
}

@-webkit-keyframes particle-animation-7 {
	100% {
		-webkit-transform: translate3d(45vw, 1vh, 92px);
		transform: translate3d(45vw, 1vh, 92px);
	}
}

@keyframes particle-animation-7 {
	100% {
		-webkit-transform: translate3d(45vw, 1vh, 92px);
		transform: translate3d(45vw, 1vh, 92px);
	}
}
.particle:nth-child(7) {
	-webkit-animation: particle-animation-7 60s infinite;
	animation: particle-animation-7 60s infinite;
	opacity: 0.04;
	height: 50px;
	width: 50px;
	-webkit-animation-delay: -1.4s;
	animation-delay: -1.4s;
	-webkit-transform: translate3d(76vw, 40vh, 90px);
	transform: translate3d(76vw, 40vh, 90px);
	background: #d9b226;
}

@-webkit-keyframes particle-animation-8 {
	100% {
		-webkit-transform: translate3d(85vw, 86vh, 99px);
		transform: translate3d(85vw, 86vh, 99px);
	}
}

@keyframes particle-animation-8 {
	100% {
		-webkit-transform: translate3d(85vw, 86vh, 99px);
		transform: translate3d(85vw, 86vh, 99px);
	}
}
.particle:nth-child(8) {
	-webkit-animation: particle-animation-8 60s infinite;
	animation: particle-animation-8 60s infinite;
	opacity: 0.045;
	height: 55px;
	width: 55px;
	-webkit-animation-delay: -1.6s;
	animation-delay: -1.6s;
	-webkit-transform: translate3d(69vw, 57vh, 88px);
	transform: translate3d(69vw, 57vh, 88px);
	background: #26d9c1;
}

@-webkit-keyframes particle-animation-9 {
	100% {
		-webkit-transform: translate3d(17vw, 73vh, 69px);
		transform: translate3d(17vw, 73vh, 69px);
	}
}

@keyframes particle-animation-9 {
	100% {
		-webkit-transform: translate3d(17vw, 73vh, 69px);
		transform: translate3d(17vw, 73vh, 69px);
	}
}
.particle:nth-child(9) {
	-webkit-animation: particle-animation-9 60s infinite;
	animation: particle-animation-9 60s infinite;
	opacity: 0.05;
	height: 60px;
	width: 60px;
	-webkit-animation-delay: -1.8s;
	animation-delay: -1.8s;
	-webkit-transform: translate3d(50vw, 82vh, 59px);
	transform: translate3d(50vw, 82vh, 59px);
	background: #2fd926;
}

@-webkit-keyframes particle-animation-10 {
	100% {
		-webkit-transform: translate3d(30vw, 22vh, 46px);
		transform: translate3d(30vw, 22vh, 46px);
	}
}

@keyframes particle-animation-10 {
	100% {
		-webkit-transform: translate3d(30vw, 22vh, 46px);
		transform: translate3d(30vw, 22vh, 46px);
	}
}
.particle:nth-child(10) {
	-webkit-animation: particle-animation-10 60s infinite;
	animation: particle-animation-10 60s infinite;
	opacity: 0.055;
	height: 65px;
	width: 65px;
	-webkit-animation-delay: -2s;
	animation-delay: -2s;
	-webkit-transform: translate3d(64vw, 65vh, 65px);
	transform: translate3d(64vw, 65vh, 65px);
	background: #9a26d9;
}

@-webkit-keyframes particle-animation-11 {
	100% {
		-webkit-transform: translate3d(21vw, 56vh, 39px);
		transform: translate3d(21vw, 56vh, 39px);
	}
}

@keyframes particle-animation-11 {
	100% {
		-webkit-transform: translate3d(21vw, 56vh, 39px);
		transform: translate3d(21vw, 56vh, 39px);
	}
}
.particle:nth-child(11) {
	-webkit-animation: particle-animation-11 60s infinite;
	animation: particle-animation-11 60s infinite;
	opacity: 0.05;
	height: 70px;
	width: 70px;
	-webkit-animation-delay: -2.2s;
	animation-delay: -2.2s;
	-webkit-transform: translate3d(32vw, 35vh, 51px);
	transform: translate3d(32vw, 35vh, 51px);
	background: #26a6d9;
}

@-webkit-keyframes particle-animation-12 {
	100% {
		-webkit-transform: translate3d(53vw, 69vh, 68px);
		transform: translate3d(53vw, 69vh, 68px);
	}
}

@keyframes particle-animation-12 {
	100% {
		-webkit-transform: translate3d(53vw, 69vh, 68px);
		transform: translate3d(53vw, 69vh, 68px);
	}
}
.particle:nth-child(12) {
	-webkit-animation: particle-animation-12 60s infinite;
	animation: particle-animation-12 60s infinite;
	opacity: 0.045;
	height: 75px;
	width: 75px;
	-webkit-animation-delay: -2.4s;
	animation-delay: -2.4s;
	-webkit-transform: translate3d(11vw, 78vh, 43px);
	transform: translate3d(11vw, 78vh, 43px);
	background: #d926b8;
}

@-webkit-keyframes particle-animation-13 {
	100% {
		-webkit-transform: translate3d(76vw, 60vh, 78px);
		transform: translate3d(76vw, 60vh, 78px);
	}
}

@keyframes particle-animation-13 {
	100% {
		-webkit-transform: translate3d(76vw, 60vh, 78px);
		transform: translate3d(76vw, 60vh, 78px);
	}
}
.particle:nth-child(13) {
	-webkit-animation: particle-animation-13 60s infinite;
	animation: particle-animation-13 60s infinite;
	opacity: 0.04;
	height: 80px;
	width: 80px;
	-webkit-animation-delay: -2.6s;
	animation-delay: -2.6s;
	-webkit-transform: translate3d(84vw, 67vh, 43px);
	transform: translate3d(84vw, 67vh, 43px);
	background: #26d977;
}

@-webkit-keyframes particle-animation-14 {
	100% {
		-webkit-transform: translate3d(74vw, 42vh, 35px);
		transform: translate3d(74vw, 42vh, 35px);
	}
}

@keyframes particle-animation-14 {
	100% {
		-webkit-transform: translate3d(74vw, 42vh, 35px);
		transform: translate3d(74vw, 42vh, 35px);
	}
}
.particle:nth-child(14) {
	-webkit-animation: particle-animation-14 60s infinite;
	animation: particle-animation-14 60s infinite;
	opacity: 0.035;
	height: 85px;
	width: 85px;
	-webkit-animation-delay: -2.8s;
	animation-delay: -2.8s;
	-webkit-transform: translate3d(75vw, 21vh, 6px);
	transform: translate3d(75vw, 21vh, 6px);
	background: #d92680;
}

@-webkit-keyframes particle-animation-15 {
	100% {
		-webkit-transform: translate3d(80vw, 10vh, 20px);
		transform: translate3d(80vw, 10vh, 20px);
	}
}

@keyframes particle-animation-15 {
	100% {
		-webkit-transform: translate3d(80vw, 10vh, 20px);
		transform: translate3d(80vw, 10vh, 20px);
	}
}
.particle:nth-child(15) {
	-webkit-animation: particle-animation-15 60s infinite;
	animation: particle-animation-15 60s infinite;
	opacity: 0.03;
	height: 90px;
	width: 90px;
	-webkit-animation-delay: -3s;
	animation-delay: -3s;
	-webkit-transform: translate3d(5vw, 24vh, 94px);
	transform: translate3d(5vw, 24vh, 94px);
	background: #29d926;
}